name: CI - Playwright Cucumber TS Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      NODE_ENV: "ci"
      NAME: ${{ secrets.NAME }}
      PASSWORD: ${{ secrets.PASSWORD }}
      BASE_URL: ${{ secrets.BASE_URL }}
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci --verbose
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run pre setup for tests
      run: npm run preTest
    - name: Run tests
      run: npm run test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: test-report
        path: test-results/
        retention-days: 10